body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 40%; 
    max-width: 350px; 
    padding: 15px; 
    background: color-mix(in hsl shorter hue, color percentage, color percentage);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 10%;
    transform: translateY(-50%);
    top: 50%;
    overflow: auto;
    max-height: 80vh; 
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

h2.section-title {
    text-align: center;
    margin-bottom: 10px; 
    color: #007BFF; 
    font-weight: bold;
    font-size: 1.4em; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 8px 0 4px; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"] {
    padding: 8px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

button {
    padding: 8px; 
    background: black; 
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}

button:hover {
    background: #0056b3; 
}

p {
    text-align: center; 
}

a {
    color: #007BFF; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

.flight {
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    background-color: #f9f9f9; 
}

.flight button {
    margin-top: 10px; 
}

.flight-name {
    font-weight: bold; 
    color: #007BFF; 
    font-size: 1.2em; 
}
div{
    border-radius: 10px;
}
a{
    color: black;
}
p{
    color: blue;
}
.d1{
    padding-right: 450px;
    padding-bottom: 450px;
}
.p1{
    color: white;
    padding-bottom: 20px;
}
.d1{
    padding-right: 1000px;
    padding-bottom: 570px;
}



